@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    background-color:#0B486B;
    font-family: 'Maven Pro', sans-serif;
    font-size: larger;

}

*{
    margin: 0px;
}

button {
    display: block;
    margin: auto;
    cursor: pointer;
}

input {
    display: block;
    padding: 2rem;
    margin: auto;
    border-radius: 0.6rem;
    border-width: 0.3rem;
    width: 13rem;
}
:placeholder-shown{
    text-align: center;
}

#tell-me-btn {
    margin-top: 2rem;
    padding:0.5rem;
    width: 12rem;
    border-radius: 2rem;
    border-width: 0.3rem;
    border-color: #0B486B;
    font-weight:900;
}

#output {
    text-align: center;
    margin-top: 4rem;
    font-size: larger;
    font-weight:900;
}

h1 {
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 3rem;
    background-color: #0B486B;
    height: 6rem;

}

#initial-price {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
#quantity {
    margin-top: 2rem;
    margin-bottom: 2rem;
}